h1
{
background-color
:
#191970
;
color
: #eee
6
e
6fa
;
line-height
: 200%
;
font-family
: Georgia
, “Times New Roman”, serif
;
text-shadow
:
3px
3px
5px
#cccccc
;
padding
:
1em
;
}h2
{
background-color
:#aed
;
font-family
:Georgia
, “Times New Roman”, serif
;
text-align 
:center
border
-bottom
2px dashed
#15155a